<!DOCTYPE HTML>
<html>

<head>
    <title>Test OCR</title>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->


    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
</head>

<body>

    <div class="container">
        <div class="row-fluid">
            <h3>Collect some excerpts.</h3>

            <div id="new">
                <form action="/ocr" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Test OCR</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
